{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% if content %}
  <div{{ attributes.addClass('two-col') }}>
    <div class="container">
    <div class="row">
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout', 'col-md-6') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout', 'col-md-6') }}>
        {{ content.second }}
      </div>
    {% endif %}
</div>
    </div>
  </div>
{% endif %}
